
html{
    scroll-behavior: smooth;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #0A090D;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
button{
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
}
li, a{
    text-decoration: none;
    list-style: none;
    transition: all 0.3s ease;
}
input{
    outline: none;
    border-style: none;
    background-color: transparent;
}
img{
    display: block;
    max-width: 100%;
}
body{
    display: flex;
    flex-direction: column;
    gap: 150px;
}



.page2_ope_section2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &_inside{
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 60px;
        &_years{
            display: flex;
            user-select: none;
            gap: 40px;
            button{
                color: #848486;
                padding: 10px 20px;
                font-size: 1.125rem;
            }
            .current{
                background-color: #1F1F1F;
                color: #E5E5E5;
                transform: scale(1.05);
            }
        }
        &_places{
            display: grid;
            grid-template-columns: 1fr;
            flex-direction: column;
            gap: 60px;
            article:last-child{
                border: none;
            }
            article{
                padding-bottom: 60px;
                border-bottom: 2px solid #3B3A3D;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
                .article_top{
                    display: flex;
                    justify-content: space-between;
                    h2{
                        max-width: 255px;
                        color: #E5E5E5;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        line-height: 1.4;
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                    p{
                        max-width: 885px;
                        color: #E5E5E5;
                        font-size: 1.125rem;
                        line-height: 1.6;
                        font-weight: lighter;
                    }
                }
                .article_bot{
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    p{
                        color: #848486;
                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        line-height: 1.4;
                        font-size: 1.5rem;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}